@charset "UTF-8";

.title{
    text-align: center;
    font-size: 70px;
    font-family: "Fredoka One";
  }
  
  .subtitle{
  	top: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height:10px;
    
  }
  .search {
    position: relative;
    width: 650px;
    margin: auto;
  }
  
  input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  .magnifer {  /* 돋보기 */
    position : absolute;
    width: 0px;
    top: 4px;
    right: 12px;
    margin: 0;

  }
  footer{
    position : relative;
    transform : translateY(2200%);
  }
  .ducks { /* 오리 */
    text-align: center;
    transform: translate(0%, 80%);
  }

  .delbtn{
    border:none;
    background-color: rgba(0, 0, 0, 0);
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

.center_map_area {
        
			justify-content:center;
            width: 400px;
            height: 400px;

            position: absolute;
            left : 43%;
            top: 105%;

            /*margin: -250px -250px;*/
            transform: translate(-50%,-50%);
            
        } 
.center_map_area .area_box {
  position: absolute;
  left: 70%;
  top: 60%;
  transform: translate(-50%, -50%);
  transition: all .3s;
}

.center_map_area .map_area01 
{
  transform: translate(-118%, -131%);
 
}
.center_map_area .map_area02 
{
  transform: translate(-106%, -106%);
}

.center_map_area .map_area03 
{

  transform: translate(-38%, -100%);
}

.center_map_area .map_area04 
{
  transform: translate(18%, -92%);
}

.center_map_area .map_area05 
{
  transform: translate(80%, -79%);
}

.center_map_area .map_area06 
{
  transform: translate(-238%, -95%);
}
.center_map_area .map_area07 
{
  transform: translate(-170%, -64%);
}
.center_map_area .map_area08 
{
  transform: translate(-77%, -77%);
}
.center_map_area .map_area09 
{
  transform: translate(-45%, -50%);
}
.center_map_area .map_area10 {
  transform: translate(-17%, -35%);
}
.center_map_area .map_area11 {
  transform: translate(43%, -46%);
}
.center_map_area .map_area12 {
  transform: translate(-171%, -22%);
}
.center_map_area .map_area13 {
  transform: translate(-105%, -28%);
}
.center_map_area .map_area14 {
  transform: translate(-132%, 10%);
}
.center_map_area .map_area15 {
  transform: translate(-70%, 18%);
}
.center_map_area .map_area16 {
  transform: translate(-145%, 65%);
}
.center_map_area .map_area17 {
  transform: translate(-47%, 50%);
}
.center_map_area .map_area18 {
  transform: translate(2%, 40%);
}

div.pop_content{
  white-space: nowrap;
  overflow: auto;
}

  
.scrollMenu{
   display:inline-block; 
   width:100px;
   line-height:50px;
  }
  
.text-center, .center-text {
    text-align: center;
    display: block;
}
.left-text, .center-text, .right-text, .text-center, .text-right, .text-left {
    display: block;
}
.text-center {
    text-align: center !important;
}
@media (min-width: 768px) {
    .pt-md-3, .py-md-3 {
        padding-top: 1rem !important;
    }
}
@media (min-width: 768px) {
    .pl-md-0, .px-md-0 {
        padding-left: 2 !important;
    }
}
.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
div, a, p, img, blockquote, form, fieldset, textarea, input, label, iframe, code, pre {
    display: block;
    position: relative;
}  

/* 모달 배경 */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: none; /* 기본적으로 숨김 */
  z-index: 999;
}

/* 배너 스타일 */
#banner_online {
  position: fixed;
  top: 103%;
  left: 36%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: none; /* 기본적으로 숨김 */
  z-index: 1000;
  width: 80%;
  max-width: 600px;
  max-height: 80%;
  overflow-y: auto;
}

#banner_online {
  display: flex;
  justify-content: space-between; /* 요소들 사이의 간격을 최대화하기 위해 */
  align-items: flex-start; /* 세로 정렬 기준을 맞춤 */
}

#close_button {
  text-align: right;
}

 .pop_content {
  padding: 20px;
  background-color: #ffffff; /* 흰색 배경 */
  border: 1px solid #ffffff; /* 테두리 색상 설정 */
  border-radius: 5px;
}
.category {
  display: flex;
  flex-wrap: wrap; /* 필터 버튼들이 자동으로 줄 바꿈되도록 설정 */
  justify-content: space-between;
}
.delbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
}
.delbtn img {
  width: 45px;
}

.scrollMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.scrollMenu label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
}


